:%s/–/-/g

:%s/(Иез[. ]\{0,2}\([-0-9,: ]*\))/<bib>iezekiil.\1<\/bib>/g
:%s/(Втор[. ]\{0,2}\([-0-9,: ]*\))/<bib>vtorozakonie.\1<\/bib>/g
:%s/(Притч[. ]\{0,2}\([-0-9,: ]*\))/<bib>pritchi.\1<\/bib>/g
:%s/(Сир[. ]\{0,2}\([-0-9,: ]*\))/<bib>sirah.\1<\/bib>/g

:%s/(Пса*л*[. ]\{0,2}\([-0-9,: ]*\))/<bib>psaltyr.\1<\/bib>/g
:%s/(Ис[. ]\{0,2}\([-0-9,: ]*\))/<bib>isaia.\1<\/bib>/g
:%s/(Исаiя[. ]\{0,2}\([-0-9,: ]*\))/<bib>isaia.\1<\/bib>/g
:%s/(Исхо*д*[. ]\{0,2}\([-0-9,: ]*\))/<bib>ishod.\1<\/bib>/g

:%s/(Екк*л*е*с*[. ]\{0,2}\([-0-9,: ]*\))/<bib>ekklesiast.\1<\/bib>/g

:%s/([МM]ф[. ]\{0,2}\([-0-9,: ]*\))/<bib>matfei.\1<\/bib>/g
:%s/(Лу*к[. ]\{0,2}\([-0-9,: ]*\))/<bib>luka.\1<\/bib>/g
:%s/(И\(оа\)*н[. ]\{0,2}\([-0-9,: ]*\))/<bib>ioann.\2<\/bib>/g
:%s/(Ма*рк[. ]\{0,2}\([-0-9,: ]*\))/<bib>mark.\1<\/bib>/g

:%s/(Деян[. ]\{0,2}\([-0-9,: ]*\))/<bib>deyaniya.\1<\/bib>/gc 

:%s/(Рим[. ]\{0,2}\([-0-9,: ]*\))/<bib>rimlyanam.\1<\/bib>/g
:%s/(Евр[. ]\{0,2}\([-0-9,: ]*\))/<bib>evreyam.\1<\/bib>/g
:%s/(Иоан[. ]\{0,2}\([-0-9,: ]*\))/<bib>ioann.\1<\/bib>/g


:%s/(\([12]\) Кор[. ]\{0,2}\([-0-9,: ]*\))/<bib>\1korinfyanam.\2<\/bib>/g
:%s/(\([12]\) Тим[. ]\{0,2}\([-0-9,: ]*\))/<bib>\1timofeyu.\2<\/bib>/g
:%s/(\([1234]\) Цар[. ]\{0,2}\([-0-9,: ]*\))/<bib>\1carstv.\2<\/bib>/g
:%s/(\([12]\) Фес[. ]\{0,2}\([-0-9,: ]*\))/<bib>\1fessalonikiycam.\2<\/bib>/g
:%s/(\([12]\) Петра[. ]\{0,2}\([-0-9,: ]*\))/<bib>\1petra.\2<\/bib>/g
